/* .proizvodi {
    /* position: absolute; */
    /* top: ; */
    /* left:400px  ; */
    /* right: 0; */
    /* bottom: 0; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* width: 300px;  */
    /* min-width: 200px; */
    
/*}*/

td, th {
    text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ea99a2;
}

.btn-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .btn-cart__icon {
    font-size: 1.25rem;
    margin-right: 0.5rem;
  }