/* Stilizacija admin stranice */
.container-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.admin-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.admin-content {
  display: flex;
  flex-grow: 1;
}

.admin-sidebar {
  width: 200px;
  flex-shrink: 0;
  background-color: #a9ebfc;
  overflow-y: auto;
}


.admin-main {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.admin-sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.admin-sidebar li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #338fa5;
}

.admin-sidebar li:hover {
  background-color: #fc6c6c;
}

.admin-sidebar li.selected {
  background-color: #338fa5;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.user-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px;
  gap: 37px;
}

.user-card{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.user-list li {
  flex: 0 0 calc(33% - 20px);
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}


.user-list div {
  margin-bottom: 10px;
}

.input-container select {
  padding: 6px 10px;
  font-size: 15px;
  /* Dodajte ostale stilove po potrebi */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1); /* Prozirna pozadina */
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  border-radius: 4px;
}

.close-button {
  padding: 6px 10px;
  font-size: 15px;
  /* Dodajte ostale stilove po potrebi */
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  /* Dodajte ostale stilove po potrebi */
  transition: background-color 0.3s ease; /* Dodajemo tranziciju za glatku promenu boje */
}

.close-button:hover {
  background-color: #e0e0e0; /* Promena boje na hover */
}

.povecaj-button{
  padding: 3px 5px;
  font-size: 15px;
  border: 0.8px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-button:hover, .povecaj-button:hover {
  background-color: #fc6c6c; /* Promenite boju po želji */
}

.img {
  max-width: 100%;
  max-height: 100%;
}

.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #f1f1f1; /* Boja pozadine */
  overflow: hidden;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block; 
  margin: auto;
}


.delete-user-button {
  padding: 6px 10px;
  font-size: 15px;
  /* Dodajte ostale stilove po potrebi */
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  /* Dodajte ostale stilove po potrebi */
  transition: background-color 0.3s ease; /* Dodajemo tranziciju za glatku promenu boje */
}

.delete-user-button:hover {
  background-color: #fc6c6c; /* Promenite boju po želji */
}

/* Responsivnost */
@media (max-width: 768px) {
  .admin-content {
    flex-direction: column;
  }

  .admin-sidebar {
    width: 100%;
  }

  .image2 {
    max-width: calc(100vw - 40px);
    max-height: calc(100vh - 40px);
  }

  .user-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}

.user-list li {
  flex-basis: 100%;
  justify-content: center;
}

.scrollable-window {
  max-height: 400px; /* Maksimalna visina prozora za prikaz kategorija */
  overflow-y: auto;
}

.category-list {
  list-style: none;
  padding: 0;
}

.category-list li {
  display: grid; /* Koristimo CSS Grid */
  grid-template-columns: 1fr 1fr; /* Podela na dva dela */
  align-items: center; /* Centriranje sadržaja */
  padding: 5px;
  border-bottom: 1px solid #cccccc;
  border: none; /* Uklanja okvir oko celog elementa */
}

.category-list li:last-child {
  border-bottom: none;
}

.category-list li span {
  background-color: #ccf5ff; /* Menja boju pozadine okvira */
  color: #000000; /* Menja boju teksta */
  padding: 5px 10px; /* Podesite veličinu paddinga prema potrebi */
  margin-right: 10px;
  flex-grow: 1; /* Spaja okvire oko ID i naziva */
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); /* Dodaje blagu liniju između redova */
}



.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


.input-container input {
  margin-right: 10px;
}

.input-container button {
  padding: 6px 10px; /* Podesite veličinu paddinga prema potrebi */
  font-size: 15px; /* Podesite veličinu fonta prema potrebi */
  border: 1px solid black;
  border-radius: 4px;
  transition: background-color 0.3s ease; /* Dodajemo tranziciju za glatku promenu boje */
}


.input-container button:hover
{
  background-color: #fc6c6c; /* Promenite boju po želji */
}


.admin-info {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.admin-info h2 {
  font-size: 24px;
}

.admin-info-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  text-align: center;
}

.admin-info-edit {
  display: flex;
  align-items: center;
}

.admin-info-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.image1 { /*za profilnu sliku admina*/
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.image2 {
  width: 350px;
  height: 350px;
  display: block;
  margin: 0 auto;
}

.admin-info-edit input {
  margin-right: 10px;
  padding: 5px;
}

.admin-info-details p {
  margin: 0;
  margin-top: -8px; /* Podiže elemente malo gore */
}

.admin-info-details img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 5px; /* Dodajemo malo razmaka iznad slike */
}

.admin-info-details button {
  margin-left: 10px;
  padding: 4px 5px;
  background-color: #daeef3;
  border: 1px solid black; /* Dodato uokvirivanje crnom linijom */
  border-radius: 4px;
  cursor: pointer;
}

.admin-info-details button:hover {
  background-color: #fc6c6c;
  color: #fff;
}

.admin-info-save-cancel {
  margin-top: 10px;
}

.admin-info-save-cancel button {
  margin-right: 10px;
  padding: 5px 8px;
  background-color: #daeef3;
  border: 1px solid black; /* Dodato uokvirivanje crnom linijom */
  border-radius: 4px;
  cursor: pointer;
}

.admin-info-dimensions {
  margin-top: 20px;
}

.admin-info-dimensions input {
  margin-right: 10px;
  padding: 5px;
  width: 40px;
}
