.login-container {
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 10px;
    height: 40vh;
    background-color: #ccf5ff;
}

.login-form {
    background-color: #fff;
    padding: 1rem 2rem 2rem 2rem;
    /* gore, desno, dole, levo */
    border-radius: 0.25rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

.prijava-button {
    padding: 6px 10px;
    font-size: 15px;
    border: 0.8px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.prijava-button:hover {
    background-color: #fc6c6c;
    /* Promenite boju po želji */
}

input[type='text'],
input[type='password'] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
}

.footer button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: none;
    background-color: #29335c;
    color: #fff;
    cursor: pointer;
}

.footer button:hover {
    background-color: #5767aa;
}


body {
    background-color: #ccf5ff;
}

.loginForm-button {
    display: flex;
    align-items: center;
    justify-content: center;
}